@media (max-width: 480px) {
    .brand {
        display: flex;
    }
    .brand .brand-logo {
        flex-grow: 1;
        height: 40px;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("/images/logo.png");
    }

    aside {
        width: 100%;
        overflow: hidden;
        z-index: 1;
        transition: height 0.4s;
        height: 72px;
    }

    aside.open {
        height: 100%;
    }

    main {
        text-align: center;
        padding: 72px 8px 0 8px;
    }

    .brand #navbar-toggle {
        display: block;
    }

    .brand h6 {
        display: none;
    }

    .toast-container {
        bottom: 0!important;
        padding: 8px!important;
    }

    .toast {
        width: 100%;
    }
}
