nav {
    --size-circle: 64px;
    --margin-line: -32px;
    --line-width: 160px;
    --active-circle: 1;

    width: 100%;
    overflow: auto;
}

.navigation {
    margin: auto;
    width: fit-content;
    display: flex;
}

.circle {
    width: 96px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.outer {
    margin: 0;
    display: flex;
    justify-content: center;
    width: var(--size-circle);
    height: var(--size-circle);
    border-radius: 50%;
    padding: 4px;
    box-sizing: border-box;
    background-color: #818e94;
}

.inner {
    border-radius: 50%;
    border: 3px solid #ffffff;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.line {
    margin: 28px var(--margin-line) 0;
    min-width: var(--line-width);
    max-width: var(--line-width);
    height: 8px;
    z-index: -1;
    background-color: #818e94;
}

.navigation-active {
    background-color: var(--primary-color);
}
